include README.md
include LICENSE
include install_script.py
include kdDesktopAssistant/*.ui
include kdDesktopAssistant/data/db/*
include kdDesktopAssistant/data/profile.ini
include kdDesktopAssistant/data/image/*
